doctype html
html(lang="en")
  include ../includes/head.pug
  body
    header
      include ../includes/header.pug
      block main
    main
      include ../mixinx/pagination.pug
      block content
    include ../includes/footer.pug
