extends ../layouts/default

block page
  - const pageTitle = "Uploads";

block main
  h1= pageTitle

block content
  - if (uploads.length)
    each upload in uploads
      include upload

  - if (pagination.pages >= 1)
      + pagination(pagination)
  - else
    h4.muted No uploads.&nbsp;
      a(href="/uploads/new") create one
