article(itemscope itemtype="https://schema.org/UserComments")
  header
    | on
    |
    time(itemprop="commentTime" datetime=comment.updatedAt)= comment.updatedAt
    |
    |
    span(itemprop="creator", itemscope itemtype="http://schema.org/Person")
      span(itemprop="name")= comment.author.username
    |
    | said
  p(itemprop="commentText")= comment.body
