mixin pagination(p)
  -
    const NUM_PAGINATION = 2;
    const pages = Array.from({ length: p.pages }, (v, k) => k + 1)
      .filter(i => i >= p.page - NUM_PAGINATION && i <= p.page + NUM_PAGINATION)
  nav(aria-label = "Page navigation")
    ul.pagination
      li(class=(p.page <= 1)? "disabled":"")
        a(href=`?page=${Math.max(1, p.page-1)}` aria-label="Previous" tabindex="-1")
          span(aria-hidden="true") &laquo;
          span.sr-only Previous
      each page in pages
        li(class=(p.page === page)? "active":"")
          a(href=`?page=${page}`) #{page}
      li(class=(p.page >= p.pages)? "disabled":"")
        a(href=`?page=${Math.min(p.pages, p.page+1)}` aria-label="Next")
          span(aria-hidden="true") &raquo;
          span.sr-only Next
