body {
  background: url("memphis-colorful.png") repeat;
}

.container {
  background: rgba(255,255,255,0.5);
  height: 100vh;
}

div.hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  text-align: center;
  height: 0px;
  line-height: 0px;
}
